div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 500px;
        margin: 0 auto;
        background-color: #dddddd;
        padding: 25px;
        border-radius: 10px;

        ::ng-deep input,
        textarea,
        mat-radio-button,
        div {
            color: aliceblue;
            padding-right: 30px;
        }

        div {
            display: flex;
            flex-direction: column;
            padding-bottom: 15px;

            .btn-file {
                visibility: hidden;
                background-color: red;
            }
        }

        mat-form-field,
        mat-radio-group {
            padding-bottom: 15px;
        }
    }

    button {
        &:first-child {
            align-self: flex-end;
            margin: 0px 0 20px;
        }

        align-self: center;
        margin-bottom: 20px;
    }
}
