.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    min-height: 100%;
    margin: 0 auto;

    h2 {
        margin: 0;
        text-align: center;
        color: rgb(27, 25, 25);
    }

    app-form-add-user,
    button {
        position: relative;
        top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 20px;
    }
}
