.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    height: 100%;
    margin: 0 auto;

    h2 {
        margin: 0;
        text-align: center;
        color: rgb(27, 25, 25);
    }
}
