<mat-nav-list class="nav-list">
    <mat-list-item>
        <a routerLink="list-users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
            >List of users</a
        >
    </mat-list-item>
    <mat-list-item>
        <a routerLink="create-user" routerLinkActive="active">Create a new user</a>
    </mat-list-item>

    <mat-list-item>
        <a routerLink="table-client" routerLinkActive="active">Table client</a>
    </mat-list-item>

    <mat-list-item>
        <a routerLink="table-server" routerLinkActive="active">Table server</a>
    </mat-list-item>

    <button class="bnt-exit" mat-mini-fab color="warn" (click)="exit()"><mat-icon>exit_to_app</mat-icon></button>
</mat-nav-list>

<router-outlet></router-outlet>
