<div class="wrap">
    <div class="form">
        <h2>Login</h2>
        <mat-form-field class="login" appearance="fill">
            <mat-label>Login</mat-label>
            <input matInput placeholder="Enter login" />
        </mat-form-field>

        <mat-form-field class="password" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter password" />
        </mat-form-field>

        <button mat-raised-button color="primary">Log in</button>
        <br />
        <a routerLink="/auth/registration">Registration</a>
    </div>
</div>
