<div class="container">
    <h2>Create New User</h2>
    <form class="form-new-user" [formGroup]="formCreateUser" (ngSubmit)="saveNewUser()">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error *ngIf="!formCreateUser.errors?.required"> Name is required </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
            <mat-error *ngIf="!formCreateUser.errors?.required"> Last name is required </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput formControlName="age" />
            <mat-error *ngIf="!formCreateUser.errors?.required"> Age is required </mat-error>
            <mat-error *ngIf="!formCreateUser.errors?.min"> Min 15 age </mat-error>
            <mat-error *ngIf="!formCreateUser.errors?.max"> Max 100 age </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Company</mat-label>
            <input matInput formControlName="company" />
            <mat-error *ngIf="!formCreateUser.errors?.maxlength"> Max length 35 symbols </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Department</mat-label>
            <input matInput formControlName="department" />
            <mat-error *ngIf="!formCreateUser.errors?.minlength"> Min length 6 symbols </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="!formCreateUser.errors?.required"> Email is required </mat-error>
            <mat-error *ngIf="!formCreateUser.errors?.emailNameValidator"> Email must contain '@gmail.com' </mat-error>
            <mat-error *ngIf="!formCreateUser.errors?.repeatEmailValidator"> Such mail already exists </mat-error>
        </mat-form-field>

        <div>
            <label for="photo">Photo</label>
            <input #uploader class="btn-file" type="file" name="photo" formControlName="photo" />
            <button mat-stroked-button color="accent" (click)="uploader.click()">Upload</button>
        </div>

        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="Man">Man</mat-radio-button>
            <mat-radio-button value="Woman">Woman</mat-radio-button>
            <!-- <mat-error *ngIf="!formCreateUser.errors?.required">Gender is required </mat-error> -->
        </mat-radio-group>

        <button mat-raised-button color="warn" type="submit">Save</button>
    </form>
</div>
