.form-new-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;

    ::ng-deep input,
    mat-radio-button,
    div {
        color: rgb(46, 46, 46);
        padding-right: 30px;
    }

    .example-full-width mat-label {
        color: rgb(44, 44, 44);
    }

    div {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;

        .btn-file {
            visibility: hidden;
            background-color: red;
        }
    }

    mat-form-field,
    mat-radio-group {
        padding-bottom: 15px;
    }

    mat-spinner {
        position: absolute;
        right: 0;
        top: 0;
    }

    .invisible {
        display: none;
    }
}

::ng-deep mat-tab-group {
    background-color: #dddddd;
}
