.form-new-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    background-color: rgb(31, 29, 29);
    padding: 50px;
    border-radius: 10px;

    ::ng-deep input,
    mat-radio-button,
    div {
        color: aliceblue;
        padding-right: 30px;
    }

    div {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;

        .btn-file {
            visibility: hidden;
            background-color: red;
        }
    }
    mat-form-field,
    mat-radio-group {
        padding-bottom: 15px;
    }
}
