<mat-card id="item" [ngClass]="{ 'non-active': !user.activated }">
    <mat-card-title class="title"><mat-icon>person</mat-icon> {{ user.firstName }}</mat-card-title>

    <mat-card-content>
        <span>age: {{ user.age }}</span
        ><br />
        <span>email: {{ user.email }}</span>
    </mat-card-content>

    <span class="error" *ngIf="errorMes">The user is not old</span>

    <button mat-flat-button color="primary" [disabled]="!user.activated" (click)="toggleActivated(user)">
        {{ user.activated ? 'Non-Active' : 'Active' }}
    </button>

    <button mat-flat-button color="warn" class="setting-btn" (click)="onSetting()">
        <mat-icon class="icon">settings</mat-icon>
    </button>
</mat-card>
