<mat-card id="item" [ngClass]="{ 'non-active': !user.activated }">
    <mat-card-title class="title"><img mat-card-avatar src="{{ user.picture }}" /> {{ user.name }}</mat-card-title>

    <mat-card-content>
        <!-- <p>His repo: <a href="{{ user.picture }}">repos</a></p> -->
        <p>Age: {{ user.age ? user.age : 'none' }}</p>
        <p>Email: {{ user.email ? user.email : 'none' }}</p>
    </mat-card-content>

    <span class="error" *ngIf="errorMes">The user is not old</span>

    <button mat-flat-button color="primary" [disabled]="!user.activated" (click)="toggleActivated(user)">
        {{ user.activated ? 'Non-Active' : 'Active' }}
    </button>

    <button routerLink="details" mat-stroked-button color="warn" class="details" (click)="onDetails()">
        <mat-icon class="icon">person_outline</mat-icon>
    </button>

    <button mat-flat-button color="warn" class="setting-btn" (click)="onSetting()">
        <mat-icon class="icon">settings</mat-icon>
    </button>
</mat-card>
