<div class="container">
    <h2 class="title">first-page</h2>

    <!-- <div class="items" *ngIf="allUserActive.length > 0; else emptyData"> -->
    <div class="items">
        <user
            *ngFor="let user of users"
            id="item"
            [user]="user"
            (toggleActiveUser)="toggleActiveUser($event)"
            [class.hidden]="!user.activated && !hiddenUsers"
        ></user>
    </div>

    <!-- <ng-template #emptyData>Not active users</ng-template> -->

    <button class="btn-toogle-hide" mat-raised-button color="primary" (click)="toogleHideUsers()">
        {{ hiddenUsers ? 'Show only active users' : 'Show all users' }}
    </button>
</div>
