* {
    width: 100vw;
    font-size: 14px;
}
p {
    background-color: #201e1f;
    font-size: 3rem;
    line-height: 10rem;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

::ng-deep .mat-tab-group .mat-tab-label-content {
    font-size: 2rem;
    font-weight: 200;
}

menu {
    margin: 0;
    padding: 0;
    width: 100%;
}
