.form-edit-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: 400px;
    padding: 2rem;
    background-color: whitesmoke;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .radio-btn {
        margin-right: 20px;
    }

    mat-spinner {
        position: absolute;
        right: 0;
        top: 0;
    }
}
