<div class="form-edit-user" [formGroup]="editForm">
	<h2 class="title-edit">Edit user</h2>

	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Name</mat-label>
		<input matInput formControlName="firstName" />
		<!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('firstName')"></app-error-validator>
				</mat-error> -->
	</mat-form-field>

	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Last Name</mat-label>
		<input matInput formControlName="lastName" />
		<!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('lastName')"></app-error-validator>
				</mat-error> -->
	</mat-form-field>

	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Age</mat-label>
		<input type="number" matInput formControlName="age" />
		<!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('age')"></app-error-validator>
				</mat-error> -->
	</mat-form-field>

	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Company</mat-label>
		<input matInput formControlName="company" />
		<!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('company')"></app-error-validator>
				</mat-error> -->
	</mat-form-field>

	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Department</mat-label>
		<input matInput formControlName="department" />
		<!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('department')"></app-error-validator>
				</mat-error> -->
	</mat-form-field>

	<mat-form-field class="example-full-width" appearance="fill">
		<mat-label>Email</mat-label>
		<input matInput formControlName="email" />
		<!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('email')"></app-error-validator>
				</mat-error> -->
	</mat-form-field>

	<mat-radio-group aria-label="Select an option" formControlName="gender">
		<mat-radio-button class="radio-btn" value="Man">Man</mat-radio-button>
		<mat-radio-button class="radio-btn" value="Woman">Woman</mat-radio-button>
	</mat-radio-group>
</div>