.form-edit-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: 400px;
    padding: 2rem;
    background-color: rgb(31, 31, 31);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .title-edit {
        color: whitesmoke;
    }

    .radio-btn {
        color: whitesmoke;
        margin-right: 20px;
    }
}
