<div class="form-edit-user" [formGroup]="editForm">
    <h2 class="title-edit">Edit user</h2>

    <mat-form-field class="example-full-width" appearance="fill" #q>
        <mat-label>Name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-spinner *ngIf="!user" [diameter]="25"></mat-spinner>
        <!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('firstName')"></app-error-validator>
				</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-spinner *ngIf="!user" [diameter]="25"></mat-spinner>
        <!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('lastName')"></app-error-validator>
				</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Age</mat-label>
        <input type="number" matInput formControlName="age" />
        <mat-spinner *ngIf="!user" [diameter]="25"></mat-spinner>
        <!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('age')"></app-error-validator>
				</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput formControlName="company" />
        <mat-spinner *ngIf="!user" [diameter]="25"></mat-spinner>
        <!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('company')"></app-error-validator>
				</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Department</mat-label>
        <input matInput formControlName="department" />
        <mat-spinner *ngIf="!user" [diameter]="25"></mat-spinner>
        <!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('department')"></app-error-validator>
				</mat-error> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />

        <mat-spinner *ngIf="!user" [diameter]="25"></mat-spinner>

        <!-- <mat-error>
					<app-error-validator [control]="formCreateUser.get('email')"></app-error-validator>
				</mat-error> -->
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="gender">
        <mat-radio-button class="radio-btn" value="Man">Man</mat-radio-button>
        <mat-radio-button class="radio-btn" value="Woman">Woman</mat-radio-button>
    </mat-radio-group>

    <button mat-stroked-button color="warn" (click)="save()">Save user</button>
</div>
