.container {
    background-color: #ffefdc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 0;
    height: 35rem;
    box-sizing: border-box;

    h2 {
        margin: 0 auto;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
    }

    .items {
        display: flex;

        #item {
            line-height: 5rem;
            text-align: center;
            font-size: 2rem;
            background-color: white;
            list-style: none;
            margin: 10px;
            width: 400px;

            &.non-active {
                background-color: #50b2c0;
                color: white;
                transition: 0.4s ease-in-out;
            }
        }
    }

    .users-message-hidden {
        margin: 0 auto;
        font-size: 3rem;
        color: darkslategray;
    }

    .btn-toogle-hide {
        margin: 1rem auto;
    }
}
