<div class="container">
    <h2 class="title">Your users:</h2>

    <div *ngIf="!(users$ | async); else showUsers" class="spinner">
        <mat-spinner></mat-spinner>
    </div>

    <!-- <app-search-user-shell (searchListUsers)="searchListUsers($event)" class="search-input"></app-search-user-shell> -->

    <ng-template #showUsers>
        <div class="items">
            <app-user
                *ngFor="let user of users$ | async; let i = index"
                id="item"
                [class.hidden]="!user.activated && !hiddenUsers"
                [user]="user"
                [id]="i"
                (toggleActiveUser)="toggleActiveUser($event)"
            >
            </app-user>
        </div>

        <div class="wrap-btn">
            <button class="btn-toogle-hide" mat-stroked-button color="primary" (click)="toggleHideUsers()">
                {{ hiddenUsers ? 'Show only active users' : 'Show all users' }}
            </button>

            <button class="btn-active-all-users" mat-stroked-button color="warn" (click)="setActiveAllUsers()">
                Active all users
            </button>
        </div>
        <button class="btn-show-users" mat-raised-button color="primary" (click)="onShowMoreUser()">
            Show more users
        </button>
    </ng-template>
</div>
