<div class="container">
    <h2 class="title">first-page</h2>

    <div class="items">
        <app-user
            *ngFor="let user of users; let i = index"
            id="item"
            [class.hidden]="!user.activated && !hiddenUsers"
            [user]="user"
            [id]="i"
            (toggleActiveUser)="toggleActiveUser($event)"
            (log)="log($event)"
            (openSetting)="openSetting(i)"
        >
        </app-user>
    </div>

    <div class="wrap-btn">
        <button class="btn-toogle-hide" mat-raised-button color="primary" (click)="toggleHideUsers()">
            {{ hiddenUsers ? 'Show only active users' : 'Show all users' }}
        </button>

        <button class="btn-active-all-users" mat-stroked-button color="warn" (click)="setActiveAllUsers()">
            Active all users
        </button>
    </div>
</div>
