.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: cornsilk;
    min-height: 90vh;
    padding-top: 2rem;

    .spinner {
        position: relative;
        margin: 0 auto;
        top: 30%;
    }

    .title,
    .time {
        align-self: flex-start;
        margin: 0 auto;
    }

    .active {
        color: crimson;
    }
}
